*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --very-dark-blue: #0a0a23;
  --white: #ffffff;
  --yellow: #f1be32;
  --golden-yellow: #feac32;
  --primary-color: rgba(34,139,230,1) 50%;
  --secondary-color: #6c757d;
  --success-color: rgb(206, 195, 252);
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: rgb(30, 67, 106);
  --light-color: #f8f9fa;
  --dark-color: #343a40;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-size: cover;
  background-position: center bottom;
  background: var(--info-color);
  text-align: center;
  color: var(--white);
}

h1 {
  margin: 15px 0 20px;
}

.btn {
  cursor: pointer;
  width: 10rem;
  margin: 10px;
  padding: 10px;
  color: var(--very-dark-blue);
  background-color: var(--golden-yellow);
  background-image: linear-gradient(#fecc4c, #ffac33);
  border-color: var(--golden-yellow);
  border-radius:5px;
  border-width: 3px;
}

.btn:hover {
  background-image: linear-gradient(#ffcc4c, #f89808);
  outline: 3px solid white;
}

.rules-container {
  padding: 10px 0;
  margin: auto;
  border-radius: 15px;
  border: 5px solid var(--yellow);
  background-color: var(--white);
  color: var(--very-dark-blue);
  cursor: pointer;
}

.rules-container ul {
  list-style-type: none;
}

.rules-container p {
  margin: 10px 0;
}
@media screen and (min-width: 450px) {
  .rules-container {
    width: 55%;
  }
}

@media (min-width: 760px) {
  .rules-container {
    width: 60%;
  }
}

.score-container {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
  font-size: 1.2rem;
}

.score {
  font-weight: 500;
}

.results-container {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

#winner-msg {
  margin-top: 2rem;
}
#overlay-start-game-button,
#reset-game-btn {
  display: none;
  margin: 20px auto;
}
.symbols-container {
  width: 100%;
  display:inline-flex;
  justify-content: space-evenly;
  align-items:start;
  color:black;
  margin-bottom: 1rem;
  z-index: 2;  
}
.symbol {
  font-size: 4rem; 
  color: #4CAF50;
  margin: 1rem; 
  cursor: pointer;
}
@media screen and (min-width: 350px) {
  .score-container {
    font-size: 1rem;
    margin: 1.5rem;
  }
  h2 {
    font-size: 1rem;
    padding: .8rem;
  }
}
@media screen and (min-width: 576px) {

  .score-container {
    font-size: 1.2rem;
    margin: 1rem;
  }
  h2 {
    font-size: 1rem;
    padding: .3rem;
  }
}

@media screen and (min-width: 760px) {
  h2 {
    font-size: 1.2rem;
    padding: .3rem;
  }
  .symbol {
    font-size: 6rem;
  }
 
}
@media screen and (min-width: 1028px) {
  .symbol {
    font-size: 8rem;
  }
  .score-container {
    font-size: 1.5rem;    
    margin: 1rem 3rem;
  }
  h2 {
    font-size: 1.5rem;
    padding: .5rem;
  }
  .results-container {
    margin: auto;
  }
}
.symbol:hover {
  border: 2px solid #ffcc4c;
  margin: 13px;
  cursor: pointer;
}
.selected {
  color: #554947; 
  border: 2px solid white; 
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  border-radius: 5px; 
  margin: 13px;
}
label {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}
label:hover {
  font-size: 1.3rem;
  color: #ffcc4c;
  cursor: pointer;
}
.overlay-start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#overlay-start-content {
  background: rgba(34,139,230,1) 50%;
  outline:2px solid white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

#overlay-start-msg {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#overlay-content {
  background: rgba(34,139,230,1) 50%;
  outline:2px solid white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

#overlay-winner-msg {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align:center;
  color:white;
  -webkit-text-stroke: #0a0a23;
  margin-top: 1.5rem;
}
@media screen and (min-width: 450px) {
  #overlay,
  .overlay-start,
  #overlay-start-content {
    padding: .5rem;
  }
  
  #overlay-start-content,
  #overlay-content {
    margin: .5rem;
  }
}
